:root {
  --sidebar-color: #0008;
  --sidebar-width: 250px;
  --text-color: #fff;
  --text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000;
  --border-color: 1px solid #999;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  background-size: 100% 100%;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color: var(--text-color);
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::placeholder {
  color: var(--text-color);
  opacity: 0.8;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

#spinner {
  display: none;
  width: 40px;
  height: 40px;
  border: 4px solid #eee;
  border-top: 4px solid #39d;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#progressBarContainer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  height: 25px;
  background-color: #eee;
  border-radius: 10px;
  border: var(--border-color);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

#progressBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #888;
  border-radius: 5px;
}

#dialog {
  background: var(--sidebar-color);
  color: var(--text-color);
  border: var(--border-color);
  border-radius: 10px;
  padding: 10px 25px;
  width: 400px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.button-group {
  display: flex;
  justify-content: space-between;
}

#dialog button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 160px;
  height: 40px;
  padding: 10px;
  border-radius: 6px;
  outline: none;
  border: var(--border-color);
  background-color: var(--sidebar-color);
  color: var(--text-color);
  text-shadow: var(--text-shadow);
  font-size: 14px;
  margin: 10px 0;
}

#dialog button:hover {
  background-color: #555;
}

#dialog hr {
  border: 0;
  height: 1px;
  background-color: #999;
}

#dialog .input-row {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

#dialog .input-row label {
  flex-basis: 120px;
  flex-shrink: 0;
}

#dialog .input-row input[type="number"],
#dialog .input-row input[type="text"] {
  text-indent: 6px;
  border-radius: 6px;
  height: 35px;
  width: 100%;
  outline: none;
  color: var(--text-color);
  border: var(--border-color);
  background-color: #0006;
  font-size: 15px;
}

#dialog input[type="checkbox"] {
  position: relative;
  top: 1px;
  margin-bottom: 20px;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: var(--sidebar-width);
  padding: 10px;
  background: var(--sidebar-color);
}

#sidebar.hide {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 6px;
  width: 100%;
  padding: 4px 8px;
  outline: none;
  border: var(--border-color);
  background-color: var(--sidebar-color);
  color: var(--text-color);
  text-shadow: var(--text-shadow);
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"><path d="M4.5 6L8 10l3.5-4h-7z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 6px center;
}

select+select {
  border-top: 0;
}

option {
  color: var(--text-color);
  background-color: #333;
}

#filterBox {
  text-indent: 6px;
  border-radius: 6px;
  height: 30px;
  width: 100%;
  outline: none;
  color: var(--text-color);
  border: var(--border-color);
  font-size: 15px;
  background-color: var(--sidebar-color);
}

#setting {
  overflow-y: auto;
  height: calc(100% - 181px);
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  color: var(--text-color);
  text-shadow: var(--text-shadow);
}

.item label {
  display: flex;
  overflow: hidden;
  padding: 4px 0;
  width: 100%;
}

.item input[type="range"] {
  width: 80px;
}

input[type="checkbox"] {
  order: -1;
  margin-right: 8px;
}

canvas {
  display: none;
  vertical-align: top;
}